<div
  class="content-toc-progress"
  data-content-toc-progress
  aria-hidden="true"
>
  <span class="content-toc-progress-track" />
  <span class="content-toc-progress-thumb" data-content-toc-progress-thumb />
</div>
