---
import ContentShell from "../components/layout/ContentShell.astro";
import { extractTocHeadings, type TocHeading } from "../utils/toc";
import "../style/pages/content-page.css";

interface ContentModule {
  default: unknown;
  frontmatter?: {
    title?: string;
  };
}

const aboutModule = import.meta.glob("../content/about/about.mdx", {
  eager: true,
})["../content/about/about.mdx"] as ContentModule | undefined;

const aboutRawSource = import.meta.glob("../content/about/about.mdx", {
  eager: true,
  query: "?raw",
  import: "default",
})["../content/about/about.mdx"] as string | undefined;

if (!aboutModule) {
  throw new Error("Missing src/content/about/about.mdx");
}

const AboutContent = aboutModule.default;

const tocHeadings = extractTocHeadings(aboutRawSource ?? "");
---

<ContentShell background="code-rain" contentAriaLabel="About content" tocAriaLabel="About table of contents">
  <AboutContent />

  <Fragment slot="toc">
    {
      tocHeadings.length > 0 ? (
        <>
          <p class="content-toc-title">Contents</p>
          <ol class="content-toc-list">
            {tocHeadings.map((heading) => (
              <li
                class:list={[
                  "content-toc-item",
                  `content-toc-item--depth-${heading.depth}`,
                ]}
              >
                <a class={`content-toc-link content-toc-link--depth-${heading.depth}`} href={`#${heading.slug}`}>
                  {heading.text}
                </a>
              </li>
            ))}
          </ol>
        </>
      ) : (
        <p class="content-toc-empty">No headings yet.</p>
      )
    }
  </Fragment>
</ContentShell>
