---
import ContentShell from "../components/layout/ContentShell.astro";
import { extractTocHeadings, type TocHeading } from "../utils/toc";
import "../style/pages/content-page.css";

interface ContentModule {
  default: unknown;
  frontmatter?: {
    title?: string;
  };
}

const linksModule = import.meta.glob("../content/links/links.mdx", {
  eager: true,
})["../content/links/links.mdx"] as ContentModule | undefined;

const linksRawSource = import.meta.glob("../content/links/links.mdx", {
  eager: true,
  query: "?raw",
  import: "default",
})["../content/links/links.mdx"] as string | undefined;

if (!linksModule) {
  throw new Error("Missing src/content/links/links.mdx");
}

const LinksContent = linksModule.default;

const tocHeadings = extractTocHeadings(linksRawSource ?? "");
---

<ContentShell
  background="constellation"
  contentClass="content-page content-page--links"
  contentAriaLabel="Links content"
  tocAriaLabel="Links table of contents"
>
  <LinksContent />

  <Fragment slot="toc">
    {
      tocHeadings.length > 0 ? (
        <ol class="content-toc-list">
          {tocHeadings.map((heading) => (
            <li
              class:list={[
                "content-toc-item",
                `content-toc-item--depth-${heading.depth}`,
              ]}
            >
              <a class={`content-toc-link content-toc-link--depth-${heading.depth}`} href={`#${heading.slug}`}>
                {heading.text}
              </a>
            </li>
          ))}
        </ol>
      ) : (
        <p class="content-toc-empty">No headings yet.</p>
      )
    }
  </Fragment>
</ContentShell>

