---
import "../../style/components/home/codetime.css";
---

<a
  class="codetime-link"
  href="https://codetime.dev"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="CodeTime Badge"
  data-codetime-link
>
  <img
    src="/api/codetime-badge.svg"
    alt="CodeTime Badge"
    width="168"
    height="20"
    loading="eager"
    decoding="async"
    fetchpriority="low"
    referrerpolicy="no-referrer"
    data-codetime-badge
  />
</a>
