---
import "../../style/components/background/content-background.css";

type ContentBackgroundBaseSection = "blog" | "note" | "project";
type ContentBackgroundSection =
  | ContentBackgroundBaseSection
  | "blog-archive"
  | "note-archive";

interface Props {
  section?: ContentBackgroundSection;
}

const { section = "blog" } = Astro.props satisfies Props;
const contentSection = section.replace(
  "-archive",
  "",
) as ContentBackgroundBaseSection;
---

<div
  class={`content-bg content-bg--${contentSection}`}
  data-section={contentSection}
  aria-hidden="true"
>
  <span class="content-bg__margin-line" />
  <span class="content-bg__paper-edge content-bg__paper-edge--top" />
  <span class="content-bg__paper-edge content-bg__paper-edge--bottom" />
  <span class="content-bg__corner content-bg__corner--top-left" />
  <span class="content-bg__corner content-bg__corner--bottom-right" />
  <div class="content-bg__punches">
    <span />
    <span />
    <span />
    <span />
  </div>
</div>
